<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Produto ao Pedido</title>
</head>
<body>
    <h1>Adicionar Produto ao Pedido #{{ pedido.id }}</h1>
    <p><strong>Cliente:</strong> {{ pedido.cliente.nome }}</p>

    {% if form.errors %}
        <ul class="errorlist">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Adicionar Produto</button>
    </form>

    <br>
    <a href="{% url 'menu'%}">Voltar para o Menu</a>
</body>
</html>
