<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>

</head>
<body>

    <div class="top-bar">
        <h2>Cliente</h2>
        <a href="{% url 'criar_cliente' %}" class="btn-novo">👤 Novo Cliente</a>
    </div>

    <form class="form-busca" method="get">
        <span>🔍</span>
        <input type="text" name="q" placeholder="Buscar cliente..." value="{{ request.GET.q }}">
    </form>

    <div class="clientes-grid">
        {% for cliente in clientes %}
        <div class="card">
            <strong>{{ cliente.nome }}</strong><br>
            <!-- Botão Editar -->
            <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-edit">✏️</a>

            <!-- Botão Excluir (POST) -->
            <form action="{% url 'deletar_cliente' cliente.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-del" onclick="return confirm('Excluir {{ cliente.nome }}?');">🗑</button>
            </form>
        </div>
        {% empty %}
        <p>Nenhum cliente encontrado.</p>
        {% endfor %}
    </div>

</body>
</html>
